body {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://i.pinimg.com/originals/26/c8/b5/26c8b50ed50e5f4baf338c76de8623cc.jpg');
}

.container {
  width: 80%;
  margin: auto;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  background-size: cover;
  background-position: center;
}

header {
  text-align: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #6a90b9;
  color: white;
  border-radius: 5px;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.question-section {
  margin-bottom: 20px;
}

.answer-section {
  margin-bottom: 20px;
}

footer {
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #6a90b9;
  color: white;
  border-radius: 5px;
}

.form-check {
  background-color: #e9ecef;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.form-check:hover {
  background-color: #ced4da;
}

.form-check-input {
  margin-right: 10px;
}


.btn {
  display: block;
  margin: 20px auto;
  background-color: #007bff;
  color: white;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  transition-duration: 0.2s;
  cursor: pointer;
}

.btn:hover {
  background-color: white; 
  color: black; 
  border: 2px solid #007bff;
}
.question-text {
  font-weight: bold;
}
/* Sad emoji animation */
@keyframes sadAnimation {
  20% { transform: scale(1); }
  10% { transform: scale(1); }
  100% { transform: scale(1.1); }
}

.sad-emoji {
  animation: sadAnimation 0.5s infinite alternate;
}

/* Crackers animation */
@keyframes crackersAnimation {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}

.crackers {
  animation: crackersAnimation 1s infinite;
}
